XML/practical work number 2/exercise_1/lessons_DTD.dtd

<!ELEMENT ПланируемыйГрафик (номер+)>
<!ELEMENT номер (период_обучения,наименование_дисциплины,преподователь,количество_часов,итоговая_оценка)>
<!ELEMENT период_обучения (#PCDATA)>
<!ELEMENT наименование_дисциплины (#PCDATA)>
<!ELEMENT преподователь (#PCDATA)>
<!ELEMENT количество_часов (#PCDATA)>
<!ELEMENT итоговая_оценка (#PCDATA)>
<!ATTLIST номер 	
				id ID #REQUIRED>